.details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}

.details img {
    max-width: 500px;
    min-width: 290px;
    height: 300px;
    width: 100%;
    display: block;
    object-fit: cover;
    margin: 25px;
}

.details .box {
    max-width: 500px;
    min-width: 290px;
    margin: 25px;
}

.box .row {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px; 
}

.box .row span {
    color: crimson;
}

.box .colors button {
    width: 30px;
    height: 30px;
    outline: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}

.box p {
    line-height: 1.5;
    margin: 15px 0;
}

.box .cart {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;

}

.main {

    box-shadow: 0 0 5px #ccc;
    margin-top: 60px;
    padding: 15px 10px;
}