
  
  #main {
    margin: 0 120px;

    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  #main .main-text {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.5;
  }
  
  span {
    border-bottom: 3px solid rgb(251, 132, 143);
  }
  